body {
    text-align: center;
}

.title {
    background-color: aqua;
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 50px;
    margin: 0 auto;
}

a{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 50px;
    font-size: large;
    line-height: 50px;
}